<!-- Extension del template padre-->
{% extends "blogApp/home.html" %} 
<!-- Cargo statics -->
{% load static %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block titulo %} Acerca de Mi {% endblock %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block contenido_que_cambia %}
    <h1> Este es el contenido Acerca de Mi</h1>

{% endblock %}

{% block h2 %}{{mensaje}}  {% endblock %}

{% block p1 %} Mi nombre es Marcelo y tengo una pasion por viajar y conocer nuevos lugares y personas {% endblock %}
{% block p2 %} Creo que las experiencias de viajar son de las mas ricas que podemos encontrar en la vida y para ello esta comunidad de intercambio de experiencias y lugares.{% endblock %}