<!-- Extension del template padre-->
{% extends "blogApp/home.html" %} 
<!-- Cargo statics -->
{% load static %}

{% block titulo %} {{user.username}} {% endblock %}

{% block contenido_que_cambia %}
    
    <h4 style="margin-lest:43%">{{mensaje}}</h4>

    <form style=" width: 50vw; margin-left : 15vw;" action="{% url 'agregarPost' %}" method="POST" enctype ="multipart/form-data"> {% csrf_token %}
            {{formulario.as_p}}
        <input type="submit" value = "Guardar">
    </form>

{% endblock %}

{% block h2 %} {% endblock %}

{% block p1 %}{% endblock %}
{% block p2 %} {% endblock %}