<!-- Extension del template padre-->
{% extends "blogApp/home.html" %} 
<!-- Cargo statics -->
{% load static %}
{% block titulo %} {{user.username}} {% endblock %}
{% block contenido_que_cambia %}
    <h4 style="margin-left:31%;margin-top:2%">{{mensaje}}</h4>
    
    <p ><h4 style="margin-left:38%">{{post.titulo}}</h4></p>

    {% if post.imagen %}
        <p style="margin-left:38%"><img src="{{post.imagen.url}}" alt="" height="500" width="500px"></p>
    {% endif %}
    <p style="margin-left:38%">Descripción: {{post.descripcion}}</p>
    <p style="margin-left:38%">Fecha: {{post.fechaPublicacion}}</p>
    </div>

{% endblock %}


{% block p1 %}{% endblock %}
{% block p2 %} {% endblock %}