<!-- Extension del template padre-->
{% extends "blogApp/home.html" %} 
<!-- Cargo statics -->
{% load static %}
{% block titulo %} {{user.username}} {% endblock %}
{% block contenido_que_cambia %}
    <h4 style="margin-left:45%;margin-top:2%">{{mensaje}}</h4>
    
    {% for post in user_post %}
        <h3 style="margin-left:35%" >{{post.titulo}}</h3>
        <img style="margin-left:35%" src="{{post.imagen.url}}" height="500" width="700px"/>
        <p style="margin-left:35%" >{{post.descripcion}}</p>
        <a class="btn btn-success" style="margin-left:60%" href="{% url 'detallePost' post.id %}">Ver detalle</a>
    {% endfor %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>    

{% endblock %}



{% block p1 %}{% endblock %}
{% block p2 %} {% endblock %}