<!-- Extension del template padre-->
{% extends "blogApp/home.html" %} 
<!-- Cargo statics -->
{% load static %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block titulo %} {{user.username}} {% endblock %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block contenido_que_cambia %}

    <h2 style ="margin-left:40%"> Datos de usuario </h2>
        <p style ="margin-left:40%"> NOMBRE : <i> {{user.first_name}}</i></p>
        <p style ="margin-left:40%"> APELLIDO : <i> {{user.last_name}}</i></p>
        <p style ="margin-left:40%"> EMAIL : <i> {{user.email}}</i></p>
    <a class="btn btn-info" style ="margin-left:55%" href="{% url 'editarPerfil' %}">Editar Perfil</a>
{% endblock %}

{% block h2 %} {% endblock %}

{% block p1 %}{% endblock %}
{% block p2 %} {% endblock %}