<!-- Extension del template padre-->
{% extends "blogApp/home.html" %} 
<!-- Cargo statics -->
{% load static %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block titulo %} Acerca de Mi {% endblock %}
<!-- uso el espacio reservado jinja en el template padre-->
{% block contenido_que_cambia %}
<h3>{{mensaje}}</h3>

<form action="{% url 'register' %}" method="POST" > {% csrf_token %}

    <table style="margin:0 auto;">
        {{ formulario.as_table}}
    </table>

    <input style="margin-left:54.5%" class="btn btn-success" type="submit" value="Registrar">
</form>
{% endblock %}

{% block h2 %}{{mensaje}} {% endblock %}

{% block p1 %} {% endblock %}
{% block p2 %} {% endblock %}